* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 70%;
  margin: 0 auto;
}

header{
  width: 100%;
  margin-top: 20px;
}

main{
  width: 100%;
  margin: 20px 0;
  background-color: teal;
}

footer{
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #853785;
}

header .logo{
  width: 40%;
  margin-bottom: 20px;
}

img{
  width: 30%;
  padding-right: 20px;
  border-right: 1px solid rgb(179, 177, 177);
}

.navigazione li{
  list-style: none;
  display: inline;
}

.navigazione li a{
  color: rgb(165, 164, 164);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 20px;
}

header .immagine{
  width: 100%;
  height: 350px;
  margin-top: 20px;
  background-color: rgb(197, 190, 97);
}

main .oggetto{
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
  background-color: rgb(107, 250, 250);
}

main aside{
  width: 20%;
  height: 500px;
  margin-bottom: 20px;
  float: left;
  background-color: rgb(107, 250, 250);
}

main section{
  width: 56%;
  height: 500px;
  margin: 0 2%;
  float: left;
  background-color: rgb(107, 250, 250);
}